html {
    font-size: 10px;
    font-family: "Nova Square";
    background-color: #14140f;
    color: #0D698B;
}
h1 {
    margin: 0;
    padding: 20px 0;
    text-shadow: 3px 3px 1px #e6563c;
    font-size: 60px;
    text-align: center;
}

p,
li {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
}
.git-link {
    font-size: 20px;
    line-height: 2;
    letter-spacing: 1px;
    float: auto;
}
body {
    width: 1000px;
    margin: 0 auto;
    background-color: #130533c2;
    padding: 0 20px 20px 20px;
    border: 5px groove rgba(255, 0, 0, 0.815);
}
.image-container {
    display: grid;
    align-items: center;
    grid-template: 
                "d a a a a . ."
                "e a a a a b c"
                "f a a a a . ."
                "g a a a a . ."
                "h a a a a . .";
}
img {

    width: 750px;
    height: 750px;
    display: block;
    float: left;
    border: 10px groove rgba(255, 60, 0, 0.705);
    grid-area: a;
}
.orange-button {
    background-color: gray;
    color: black;
    font-size: 25px;
    border: 15px hidden red;
    width: 100px;
    height: 75px;
    grid-area: d;
    margin-right: 20px;
}
.button-two {
    font-size: 20px;
    border: hidden;
    width: 100px;
    height: 75px;
    margin-bottom: 600px;
    float: left;
    grid-area: e;
}
.img-credit {
    margin: 0 auto;
    font-size: 10px;
    color: gray;
}
.image-text {
    min-width: 300px;
    font-size: 25px;
    grid-area: c;
}
.ascii {
    padding-left: 130px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    grid-area: b;
}
.list-start {
    font-size: 30px;
    text-indent: 50px;
    text-decoration: underline #e6563c;
}
.user-button {
    background-color: #0D698B;
    color: #e6563c;
    font-size: 30px;
    border: hidden;
}